/* tbody{
  border: 2px solid #0052D4;
} */


/* tr{
    border: #FFFFFF;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 5px;
} */

.se-box {
    /* Rectangle 1 */
    box-sizing: border-box;
    /* position: absolute; */
    padding: auto;
    padding-top: 3px;
    width: 108px;
    height: 32px;
    background: #FFFFFF;
    /* right: 90px; */
    /* purple3 */
    border: 1px solid #5151F2;
    border-radius: 8px;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: rgba(170, 228, 249, 0.34);
}

#SE-Dollar {
    width: 100px;
}

.pl {
    padding-left: 70px;
}

.se {
    padding-right: 10%;
}

.btn-center {
    text-align: center;
    padding: auto;
    margin: auto;
}

.form-control {
    width: auto;
    /* height: auto; */
}

.color-white {
    color: white;
}

.head1 {
    /* Task */
    /* position: absolute; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    color: #5151F2;
}

.btn-check-task {
    /* Check Task */
    width: 80px;
    height: 24px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    /* background */
    color: #F1F6FE;
}

.btn {
    /* ButtonDetailCluster */
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 145px;
    height: 48px;
    left: 935px;
    top: 20px;
    background: linear-gradient(264.65deg, #6ECEF3 4.28%, #0052D4 88.39%);
    border-radius: 20px;
    border: transparent;
}

.center {
    justify-content: center;
}

.box {
    /* Rectangle 8 */
    text-align: center;
    position: relative;
    width: 1100px;
    min-height: 600px;
    /* display: flex; */
    padding: 48px 24px;
    /* left: 392px;
    top: 418px; */
    /* white */
    background: #FFFFFF;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: center;
}

th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    align-content: center;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    /* border-radius:10px ; */
    align-content: center;
    margin-top: 10px;
}

tr {
    border: 1px solid #ddd;
    border-radius: 5px;
    /* background-color: #0052D4; */
    /* color: rgb(255, 255, 255); */
}

.box-table {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}